<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="overlay">
<!-- LOGN IN FORM by Omar Dsoky -->
<form>
   <!--   con = Container  for items in the form-->
   <div class="con">
   <!--     Start  header Content  -->
   <header class="head-form">
      <h2>Sign up</h2>
      <!--     A welcome message or an explanation of the login form -->
      <p>Sign up here using your email and password</p>
   </header>
   <!--     End  header Content  -->
   <br>
   <div class="field-set">

      <div class="form-field">
          <!--   email -->
          <span class="input-item">
           <i class="fas fa-envelope"></i>
         </span>
          <!--   user name Input-->
          <input class="form-input" id="email" type="text" placeholder="Email" required>
      </div>


       <div class="form-field">
           <!--   user name -->
           <span class="input-item">
           <i class="fa fa-user-circle"></i>
         </span>
           <!--   user name Input-->
           <input class="form-input" id="username" type="text" placeholder="Username" required>
       </div>

       <div class="form-field">
           <!--   Password -->

           <span class="input-item">
            <i class="fa fa-key"></i>
           </span>
               <!--   Password Input-->
               <input class="form-input" type="password" placeholder="Password" id="pwd"  name="password" required>

               <!--      Show/hide password  -->
               <span>
            <i class="fa fa-eye" aria-hidden="true"  type="button" id="eye"></i>
           </span>
       </div>


       <div id="status"></div>

<!--        buttons -->
<!--      button LogIn -->
      <button class="log-in" id="signup"> Sign Up</button>
   </div>
  
<!--   other buttons -->
   <div class="other">
<!--      Forgot Password button-->
       <a class="btn submits frgt-pass" href="/forgotpassword">Forgot Password</a>
<!--     Sign Up button -->
      <a class="btn submits secondary-btn" href="/signin"><span>Sign In</span>
<!--         Sign Up font icon -->
      <i class="fa fa-user-plus" aria-hidden="true"></i>
<!--      End Other the Division -->
       </a>
   </div>
     
<!--   End Conrainer  -->
  </div>
  
  <!-- End Form -->
</form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    // Show/hide password onClick of button using Javascript only

// https://stackoverflow.com/questions/31224651/show-hide-password-onclick-of-button-using-javascript-only

    $(document).ready(function() {
        function show() {
            var p = document.getElementById('pwd');
            p.setAttribute('type', 'text');
        }

        function hide() {
            var p = document.getElementById('pwd');
            p.setAttribute('type', 'password');
        }

        var pwShown = 0;

        document.getElementById("eye").addEventListener("click", function () {
            if (pwShown == 0) {
                pwShown = 1;
                show();
            } else {
                pwShown = 0;
                hide();
            }
        }, false);


        $("#signup").prop("disabled",false);
        //https://stackoverflow.com/questions/932653/how-to-prevent-buttons-from-submitting-forms
        //button default to submit type,will refresh the page, prevent it
        $("#signup").click(function(e) {
            e.preventDefault();
            console.log($("#pwd").val());
            $.ajax({
                type: "POST",
                url: "/api/users/signup",
                headers: {
                    'Content-Type':'application/json'
                },
                //https://stackoverflow.com/questions/13565522/jacskon-parser-unrecognized-token-tiehet-was-expecting-null-true-or-f
                //must in this format, otherwise back end can't recognize
                data:JSON.stringify({
                    "username": $("#username").val(),
                    "password": $("#pwd").val(),
                    "email": $("#email").val(),
                    "role":"visitor"
                }),
                success: function(data) {
                    $("#status").removeClass();
                    $("#status").addClass("success");
                    $("#status").text("Sign up success!Please Sign in!");
                },
                error: function () {
                    $("#status").removeClass();
                    $("#status").addClass("error");
                    $("#status").text("Ooh!Some errors here, please try again later");
                }
            });

        });

    });

</script>
</body>
</html>